---
interface Props {
	title?: string	
}
const {title} = Astro.props
import "bootstrap/dist/css/bootstrap.min.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ConcepCode | {title}</title>
</head>
<body>

	<slot/>
	
	<script>
        import 'bootstrap/dist/js/bootstrap.bundle.min.js'
    </script>
</body>
</html>